xformers
uvicorn[standard]==0.24.0.post1
fastapi==0.104
accelerate
# git+https://github.com/cumulo-autumn/StreamDiffusion.git@main#egg=streamdiffusion
--extra-index-url https://download.pytorch.org/whl/cu121
torch 
torchvision
torchaudio
triton
# https://github.com/chengzeyi/stable-fast --index-url https://download.pytorch.org/whl/cu121 
https://github.com/chengzeyi/stable-fast/releases/download/v0.0.14/stable_fast-0.0.14+torch210cu121-cp310-cp310-manylinux2014_x86_64.whl