@import url('https://fonts.googleapis.com/css?family=Kanit:400,700&display=swap');

body {
  font-family: 'Kanit', 'Ubuntu', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
